<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
  
	   {% block navbarr %}
	   <nav>
			<ul>
				<li><a class="{% if app.request.attributes.get('_route') == 'accueil'%}active{% endif %}" href={{path("accueil")}}>Accueil</a></li>
				<li><a class="{% if app.request.attributes.get('_route') == 'livres'%}active{% endif %}" href={{path("livres")}}>Livres</a></li>
				<li ><a class="{% if app.request.attributes.get('_route') == 'contact'%}active{% endif %}" href={{path("contact")}}>Contact</a></li>
			   </ul>
		   </div>
	   </nav>
	 
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
